.container {
    display: flex;
}

.info {
    margin-left: 15px;
}

/* SIDEBAR STYLE */
.sidebar {
    list-style: none;
    background: #202020;
    padding: 5px;
    height: 500px;
    border: none;
    border-radius: 5px;
}
.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: var(--font-fam);
    margin: 5px;
    height: 20px;
}
.sidebar .active {
    background: #3b3b3b;
    border-left: 2px solid rgb(134, 134, 250);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

/* CARD STYLE */
.card {
    background: #202020;
    border-radius: 5px;
    height: 200px;
    display: flex;
    padding: 20px;
}
.card .profilePicture {
    width: 150px;
    height: 150px;
}

.card .leftSide h1 {
    font-size: 20px;
    font-family: var(--font-fam);
}

.card .profileInfo {
    list-style: none;
}
.card .profileInfo p {
    color: white;
    font-family: var(--font-fam);
}